SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

DO_SPACES_KEY=
DO_SPACES_SECRET=
DO_SPACES_BUCKET=
DO_SPACES_REGION=nyc3
DO_SPACES_ENDPOINT=https://nyc3.digitaloceanspaces.com
DO_SPACES_PUBLIC_BASE_URL=https://your-space.nyc3.digitaloceanspaces.com
